body{
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

.tweet{
    background-color: #fff;
    width:600px;
    margin:0 auto;
    padding: 20px;
}

.tweet .tweet-header {
    overflow:hidden;
    }
  

.tweet .tweet-header img.avatar{
width: 60px;
height: 60PX;
background-color: #fff;
border-radius: 30PX;
float:left; /*al agregar esto, deja de ocupar todo el espacio y libera espacio al contenido siguiente a acercarse*/
}

.tweet .tweet-header .user{
    float:left;
    margin: 10px 0 0 15px;
}
 
.tweet .tweet-header .account-name{
font-weight: bold;
font-size: 18px;
margin:0; /*por ser párrafo, ya tenía un margen y por eso se la saqué*/
}

.tweet .tweet-header .user-name{
    font-weight: normal;
    font-size: 18px;
    color:#999;

}

.tweet .tweet-header .follow{
display:block; /*esto para que no esté inline, que es la característica natural de este elemento*/
border: 1px solid #910000; /*las propiedades del borde son muchas*/
border-radius:30px;/*se puede poner porcentual pero me haría un lío no entendí por qué*/
width: 100px;
text-align: center;
padding: 6px 0; /*el primero es vertical, el horizontal no hace falta porque ya está centrado. acá se perdería el redondeado porque agrando la caja*/
color:#910000; /*la propiedad aplica a texto*/
text-decoration: none; /*esta propiedad generalmente la usaremos para eliminar características que vienen por defecto, casi nunca para subrayar u otras cosas*/
float:right;
}

.tweet .tweet-header .follow:hover{
background-color: #910000;
color:white;
}

/*.clear {
    clear:both; esto da referencia para que el contenedor pueda envolver a todas las dependencias flotantes que puse
}*/